@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Merriweather:ital,wght@1,700&display=swap");

*::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth;
}

body {
  background: rgb(219, 247, 255);
}

